* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #25333e;
}

.row {
    --bs-gutter-x: 0;
}

.navbar {
    padding: 0px;
    height: 55px;
}

.button-nav {
    border-radius: 0px;
    height: 100%;
}

.nav-item {
    font-size: 20px;
    padding-left: 10px;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-toggler {
    border: 1px solid white;
}

.hostel-top {
    background-color: #4e677d;
    font-size: 27px;
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 5px;
}

.fa-square-h {
    font-size: 40px;
}

#offcanvas-nav {
    background-color: #ababab;
    color: #25333e;
    font-weight: 600;
    height: 100%;
    width: 0;
    right: 0;
    position: fixed;
    transition: 0.5s;
}

.pull-left-nav {
    margin-right: 23px;
    margin-left: 6px;
}

.pull-down-nav {
    margin-bottom: 0px;
}

.offcanvas-body-nav {
    margin-top: 10px;
    padding: 0px;
}

.info-nav{
    padding: 15px;
    display: block;
    transition: 0.3s;
}

.info-nav:hover {
    background-color: #999898;
}

.fa-circle {
    font-size: 10px;
}